/* Add a black background color to the top navigation */
.topnav {
  background-image: url(https://www.pngmagic.com/product_images/red-abstract-background-images-hd.jpg);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.Profile {
  text-align: center;
  margin-top: 50px;
}


.info a{
  background-color: #8a8375;
  padding: 6px;
  border-radius: 5px;
  color: white;
  margin-top: 200px;
  text-align: center;
  margin-left: -1300px;
}

.info {
  text-align: center;
  width: 100%;
  margin-left: 625px;
  
}

.info1 {
  max-width: 100%;
}

.info1 h2 {
  float: left;
   margin-right: 10px;
}

.info1 p {
  float: left;
  width: 500px;
  padding: 5px;
  color: grey;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  font-family: arial black;
  background-color: whitesmoke;
}

.info2 {
  max-width: 100%;
  margin-right: 1000px;
}

.info2 h2 {
  float: left;
  margin-top: 30px;
  margin-right: 10px;
}

.info2 p {
  float: left;
  Max-width: 473px;
  padding: 5px;
  color: grey;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  font-family: arial black;
  background-color: whitesmoke;
}

.info3 {
  margin-top: 90px;
  max-width: 100%;
  margin-right: 1000px;
}

.info3 h2 {
  float: left;
  margin-top: 30px;
  margin-right: 10px;
}

.info3 p {
  float: left;
  margin-top: 25px;
  width: 360px;
  padding: 5px;
  color: grey;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  font-family: arial black;
  background-color: whitesmoke;
}

.contact {
  text-align: center;
}

.contact h1 {
  margin-top: 100px;
}

.info4 {
  max-width: 100%;
}

.info4 h2 {
  float: left;
  margin-top: 30px;
  margin-right: 10px;
}

.info4 p {
  float: left;
  margin-top: 25px;
  width: 480px;
  padding: 5px;
  color: grey;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  font-family: arial black;
  background-color: whitesmoke;
}

.info5 {
  max-width: 100%;
}

.info5 h2 {
  float: left;
  margin-top: 30px;
  margin-right: 10px;
}

.info5 p {
  float: left;
  margin-top: 25px;
  width: 400px;
  padding: 5px;
  color: grey;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  font-family: arial black;
  background-color: whitesmoke;
}

.img img{
  margin-left: -1250px;
  width: 100px;
  margin-bottom: 10px;
}
.info6 {
  max-width: 100%;
}

.info6 h2 {
  float: left;
   margin-right: 10px;
}

.info6 p {
  float: left;
  width: 480px;
  padding: 5px;
  color: grey;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  font-family: arial black;
  background-color: whitesmoke;
}

.info7 {
  max-width: 100%;
}

.info7 h2 {
  float: left;
  margin-top: 30px;
  margin-right: 10px;
}

.info7 p {
  float: left;
  margin-top: 25px;
  width: 470px;
  padding: 5px;
  color: grey;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  font-family: arial black;
  background-color: whitesmoke;
}

.info8 {
  max-width: 100%;
}

.info8 h2 {
  float: left;
  margin-top: 30px;
  margin-right: 10px;
}

.info8 p {
  float: left;
  margin-top: 25px;
  width: 500px;
  padding: 5px;
  color: grey;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  font-family: arial black;
  background-color: whitesmoke;
}

.footer {
    text-align: center;
    padding: 3px;
    border-style: solid;
    background-color: #141414;
    border-color: #141414;
    color: white;
    height: 120px;
    margin-top: 20px;
    float: left;
    width: 100%;
  }

.tac {
  float: left;
  color: white;
  margin-left: 200px;


}

.tac a {
  color: white;
}

.p {
  float: left;
  color: white;
  margin-left: 545px;
  

}

.p a {
  color: white;
}

.co {
  float: right;
  color: white;
  margin-right: 245px;


}

.co a {
  color: white;
}

.soc {
   text-align: center;
    padding: 3px;
    border-style: solid;
    background-color: #141414;
    border-color: #141414;
    color: white;
    height: 60px;
    float: left;
    width: 100%;
}

.fb i{
  color: white;
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 40px;
  margin-left: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mg i{
  color: white;
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tw i{
  color: white;
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ig i{
  color: white;
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tk i{
  color: white;
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.yt i{
  color: white;
  width: 10px;
  height: 10px;
  float: left;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}