a {
	padding-left: 165px;
	font-size: 30px;
	text-align: center;
}

.container {
	border: solid;
}

.container1 {
	border: solid;
	background-color: #00FF00;
}

.confirm {
	max-width: 500px;
  	margin-top: 300px;
  	padding-left: 700px;
}